body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3{
  text-align: center;
  margin-bottom: 0px;
}
.all-countries{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  

}
Header{
  background-color: antiquewhite;
}
.country{
  /* align-self: center; */
  background-color:antiquewhite;
  box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.2);


  padding: 10px 14px;
  margin: 20px;
  width: 15rem;
  height: 20rem;
  border-radius: 10px;
}
.country img{
  /* margin:   margin: 1rem 2rem;
0.5rem 1rem; */
margin: 10px ,0px;
  width: 100%;
  height: 40%;
}
.country-text{
  margin: 0.5rem 1rem;
}
h1{
  margin: 0;
  /* color: aliceblue; */
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.filter-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.label{
  color: rgb(57, 57, 57);
  font-size: 18px;
}
.header{
  background-color: antiquewhite;
  padding: 20px;
}
.btn{
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 20px;
  padding: 5px 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color:aliceblue;
  
}
#root {

  width: 100%;
  margin: 0;
  padding: 0;
  background-color:#000
}

.popup{
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: row;
  margin: 15px;
  width: 590px
}
.popup p{
  margin: 5px;
}
.popup h1{
  text-align: center;
}
.bottombtn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.details{
  margin: 10px;
}



.popupDiv{
  position: fixed;
  width: fit-content;
  border-radius: 10px;
  background-color: rgb(249, 213, 167);
  /* width:60vw;
  height: 40vh;
   */
}
.popupDiv img{
  margin: 10px ,0px;
  width: 50%;

  /* width: 40%;
  height: 40%; */
}
.closeButton{
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.borderCountries{
  margin-left: 10px;

}


.message{
  height: 100vh;
}
#messageText{
  font-size: xx-large;
  color: #f3f3f3;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container{
  width: 100vw;
  height: 100vh;
  margin: auto;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-spinner {
  width: 70px;
  height: 70px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.error{
  width: 100vw;
  height: 100vh;
  margin: auto;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}









@media (max-width:590px) {
 

  .filter-row{
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }
  .select-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .popup{
    /* margin: auto; */
    width: fit-content;

   
  }
  .popupDiv{
    width: 70%;
    
  }
  .popup img{
    width: 100%;

  }
  .popup{
    
    flex-direction: column;
  }
}

@media (max-width:350px) {
 

  .select-options{
    justify-content: space-between;
  }
  .btn{
    width: 80%;
  }
  label{
    margin-top: 15px;
  }
  .popupDiv{
    width: 100%;
    
  }
}